<div class="row mt-1 " (click)="pathChange()">
  
  <div class=" col-sm-1 text-center">{{transaction.transactionId}}</div>
  <div class="col-sm-2 text-center">{{transaction.portfolioId}}</div>
  <div class="col-sm-2 text-center">{{transaction.type}}</div>
  <!-- <li>{{transaction.stock.id}}</li> -->
  <div class="col-sm-2 text-center">{{transaction.stock.name}}</div>
  <!-- <li>{{transaction.stock.marketName}}</li> -->
  <div class="col-sm-2 text-center">{{transaction.stock.currentPrice}}</div>
  <!-- <li>{{transaction.stock.type}}</li> -->
  <div class="col-sm-1 text-center">{{transaction.price}}</div>
  <div class="col-sm-1 text-center">{{transaction.quatity}}</div>
  <div class="col-sm-1 text-center" *ngIf="delete">
      <button class="btn btn-danger" type="submit" (click)="deleteItem()">X</button>
  </div>
</div>