<div class="container offsets">
    <p class="headings">Portfolio Summary, ID : {{pid}}</p>
    <hr>
    <div class="bord">
        <div class="row">
            <div class="col-sm-2 text-center bold">ID</div>
            <div class="col-sm-2 text-center bold">Name</div>
            <!-- <div class="col text-center-sm-1 bold">Market</div> -->
            <div class="col-sm-2 text-center bold">Quantity</div>
            <div class="col-sm-2 text-center bold">Bought At</div>
            <!-- <div class="col text-center-sm-1 bold">Curr Price</div> -->

        </div>
        <app-userstockitem *ngFor="let ustocks of listOfuStocks" [currUserStock]="ustocks" >
        </app-userstockitem>
    </div>
    <!-- <p style="font-weight:bold;margin-top: 20px;">PORTFOLIO NETWORTH :  </p> -->

    
</div>