<div class="cont">
    <p class="headings">Portfolio Summary, ID : {{pid}}</p>
    <hr>
    <div class="bord">
        <div class="row">
            <div class="col-sm-1 bold">ID</div>
            <div class="col-sm-1 bold">Name</div>
            <div class="col-sm-1 bold">Market</div>
            <div class="col-sm-1 bold">Quantity</div>
            <div class="col-sm-1 bold">Bought At</div>
            <div class="col-sm-1 bold">Curr Price</div>

        </div>
        <app-userstockitem *ngFor="let ustocks of listOfuStocks" [currUserStock]="ustocks" >
        </app-userstockitem>
    </div>
    <p style="font-weight:bold;margin-top: 20px;">PORTFOLIO NETWORTH : </p>

    
</div>