<div class="container">
    <ul class="list-inline"(click)="deleteStock()" >
        <li class="list-inline-item">{{currUserStock.stock.id}}</li>
        <li class="list-inline-item">{{currUserStock.stock.name}}</li>
        <li class="list-inline-item">{{currUserStock.stock.marketName}}</li>
        <li class="list-inline-item">{{currUserStock.stock.currPrice}}</li>
        <li class="list-inline-item">{{currUserStock.quantity}}</li>
        <li class="list-inline-item">{{currUserStock.buyingPrice}}</li>
        
      </ul>
  </div>