<!-- <div class=""> -->
    <div class="row" >
        <div class="col-sm-2 text-center">{{currUserStock.s_id}}</div>
        <div class="col-sm-2 text-center">{{currUserStock.s_name}}</div>
        <div class="col-sm-2 text-center">{{currUserStock.quantity}}</div>
        <div class="col-sm-2 text-center">{{currUserStock.price}}</div>
        <!-- <div class="col-sm-1">{{currUserStock.buyingPrice}}</div>
        <div class="col-sm-1">{{currUserStock.currPrice}}</div>  -->
        <!-- have to add profit/loss for each stock item        -->
    </div>
<!-- </div> -->