<!-- <div class=""> -->
    <div class="row" >
        <!-- <div class="col-sm-1">{{currUserStock.sId}}</div> -->
        <div class="col-sm-1">{{currUserStock.sName}}</div>
        <div class="col-sm-1">{{currUserStock.quantity}}</div>
        <div class="col-sm-1">{{currUserStock.buyingPrice}}</div>
        <!-- <div class="col-sm-1">{{currUserStock.buyingPrice}}</div>
        <div class="col-sm-1">{{currUserStock.currPrice}}</div>  -->
        <!-- have to add profit/loss for each stock item        -->
    </div>
<!-- </div> -->