.row{
    /* margin-left:2px; */
    cursor:pointer;
}

.bottom-rw{
    border-right: 1px solid rgba(0,0,0,0.1);
    
}
hr{
    margin: 0px;
}
.stock-up{
    border:1px solid #007300;
    background: linear-gradient(to bottom,  #329932, #198c19);
    border-radius:4px;
    color:rgb(240, 240, 240);
    box-shadow: 1px 1px 2px #1a1a1a;
}
.stock-down{
    border:1px solid rgb(204, 0, 0);
    background: linear-gradient(to bottom, #ff3232, #ff1919);
    border-radius:4px;
    color:rgb(240, 240, 240);
}