/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.headings{
    font-size:22px;
    font-weight:bold;
    color:#cfcfcf;
    /* background-color:#38393a; */
    /* padding: 10px; */
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */

}
.fa{
    font-size: 12px;
}

.btn{
    font-size:16px;
}
.offsets{
    margin-top:70px;
    margin-bottom:50px;
}
body{
    color: #f0f0f0; 
}