<div class="container offsets">
    <p class="headings">Transactions</p>
    <hr>
<button class="btn btn-primary" (click)="addOn()"><i class="fa fa-plus"></i>&nbsp; Add Transaction </button>&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn2" (click)="deleteOn()"><i class="fa fa-minus-circle"></i>&nbsp; Delete Transaction </button>
<br><br>
<div class="trans" *ngIf="add">
    <form [formGroup]="addTrans" (ngSubmit)="transAdd()">
            <div class="row">
                    <div class="col-sm-3"><label for="pid" >Enter portfolio name</label></div>
                    <div class="col-sm-3">
                            <select  id="pid" formControlName="pid" (change)="sListChange()">
                                    <option *ngFor="let p of portfolioList" [value]="p.p_id">{{p.p_name}}</option>
                                </select>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-3">            
                        <label for="type" >Enter type of Transaction</label>
                    </div>
                    <div class="col-sm-3">
                            <select formControlName="type" id="type" (change)="sListChange()">
                                    <option value="buy" >Buy</option>
                                    <option value="sell" >Sell</option>
                                </select>
                    </div>
            </div>
            <div class="row">
                    <div class="col-sm-3"><label for="stock">Select Stock</label></div>
                    <div class="col-sm-3">
                        <div *ngIf="addTrans.value.type==='buy'" >
                            <select  id="stock"  formControlName="stockName">
                                    <option *ngFor="let s of stockList" [value]="s.name" >{{s.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="addTrans.value.type==='sell'" >
                                <select  id="stock"  formControlName="stockName">
                                        <option *ngFor="let s of uStockList" [value]="s.s_name" >{{s.s_name}}</option>
                                </select>
                        </div>

                     </div>
                    
            </div>
            <div class="row">
                    <div class="col-sm-3"><label for="price" >Enter Stock  Price</label></div>
                    <div class="col-sm-3"><input type="number" id="price" formControlName="stockPrice" ></div>
            </div>
                    
            <div class="row mt-1">
                    <div class="col-sm-3"><label for="quantity" >Enter Stock Quantity</label></div>
                    <div class="col-sm-3"><input type="number" id="quantity" formControlName="quantity"> </div>
            </div>
             <br>
            <button type="submit">Submit</button>
           
    </form>
    </div>
    <div>
            <button class="btn btn-success mt-5" *ngIf="delete" type="submit" (click)="deleteDone()">Done</button>
    </div>
    <div class="bord mt-4 ">
            <div class="row ">
                <div class="col-sm-1 bolder text-center">
                    TransactionId
                </div>
                <div class="col-sm-2 bolder text-center">
                    Portfolio Name
                </div>
                <div class="col-sm-2 bolder text-center">
                    Transaction Type
                </div>
                <div class="col-sm-2 bolder text-center">
                    Stock Name
                </div>
                <div class="col-sm-2 bolder text-center">
                     Price
                </div>
                <div class="col-sm-1 bolder text-center">
                    Quantity
                </div>
                <div class="col-sm-1 bolder text-center" *ngIf="delete">
                    Delete
                </div>
            </div>
        </div>
    <div *ngFor="let t of transactionArr">
            <app-transaction-item  [transaction]="t" [delete]="delete">
                
            </app-transaction-item>
    </div>

</div>
    