.btn{
    font-size:16px;
    padding:4px;
    width:30%;
}


.btn2 {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Calibri;
    color: #ff0000;
    font-size: 16px;
    background: inherit;
    padding: 4px ;
    width:30%;
    border: solid #ff0000 1px;
    text-decoration: none;
  }
  
  .btn2:hover {
    background: #fa2a2a;
    text-decoration: none;
    color:white;
  }

  select{
      width:80px;
  }
  .trans{
    padding: 10px;
    background-color: #e9e9e9;
    width:100%;
    margin:5px;
    border-radius: 3px;
    color: #2d2d2e;
    font-weight:bold;
  }
.bord{
    border:2px solid #0075ac;
    padding:10px;
    /* border-radius:3px; */
    /* margin:2px; */
}
.bolder{
    font-weight:bold;
    font-size:18px;
}
select, input{
    width:100%;
}
label{
    font-weight:normal;
}