<div class="cont">

        <!-- to be routed to the protfolio dropdown -->

        <button class="btn btn-primary" type="submit" (click)="createPortfolio()">Create new Porfolio</button>
        <button class="btn btn-danger" type="submit" (click)="deletePortfolio()">Delete Porfolio</button>
        
        <div class="cont2"*ngIf="create">
                        <form  #f="ngForm" (ngSubmit)="createP(f)">
                                <div class="form-group-item">
                                              <label for="pname">Insert new Portfolio name: </label>
                                              <input placeholder="Enter portfolio name here" type="text" id="pname" name="pname" ngModel>
                                </div>
                                <button class="btn btn-success" type="submit">Confirm</button>
                        </form>
        </div>
        <p class="ml-3 markleft headings">Portfolio Summary</p>
        <hr>
        <div class="ml-3 row">                
                <div class="col-sm-8">                        
                        <ul class="list-inline row ">
                                <li class="list-inline-item col-sm-2 bold text-center">Portfolio ID</li>
                                <li class="list-inline-item col-sm-2 bold text-center">Portfolio Name</li>
                                <li class="list-inline-item col-sm-3 bold text-center">Networth</li>
                        </ul>
                        <app-portfolio-item *ngFor="let p of portfolioList" [portfolio]="p" [delete]="delete">
                        </app-portfolio-item>
                </div>
                <div class="col-sm-3 alerts">
                        <div class="row" style="background-color:#00007f;color:white;padding-left:10px;height:35px;">
                                <p class="headings">Alerts</p>

                        </div>
                </div>
        </div>
        <div *ngIf="delete">
                <button type="submit" (click)="deleteDone()" >Done</button>
        </div>
</div>