<button type="submit" (click)="createPortfolio()">Create new Porfolio</button>

<div *ngIf="create">
                <form  #f="ngForm" (ngSubmit)="createP(f)">
                        <div class="form-group-item">
                                      <label for="pId">Enter new  portfolioId</label>
                                      <input type="number" id="pId" name="pId" ngModel>
                        </div>
                <button type="submit">Confirm</button>
                </form>
</div>
<ul class="list-inline">
        <li class="list-inline-item">portfolio.id</li>
        <li class="list-inline-item">portfolio.networth</li>
 </ul>
<app-portfolio-item *ngFor="let p of portfolioList" [portfolio]="p">

</app-portfolio-item>