<div class="container offsets">      
        <div class="row">
                <div class="col-sm-8 wrapper">
                        <div class=" row"><div class="col-sm-12"><span class=" headings">Portfolio Summary</span>
                                <p>View all your investments in one place! Click on a Portfolio to view Details</p>
                        </div>
                                <!-- <button class="btn btn-primary col-sm-3" type="submit" (click)="createPortfolio()">Create new Porfolio</button> -->
                                <!-- <button class="btn btn-danger  col-sm-3" type="submit" (click)="deletePortfolio()">Delete Porfolio</button> -->
                        </div>
                        <!-- <hr> -->
                        
                        <div class="ml-2 row">                
                                <div class="col-sm-12">                        
                                        <ul class="list-inline row ">
                                                <li class="list-inline-item col-sm-2 bold text-center">Portfolio ID</li>
                                                <li class="list-inline-item col-sm-3 bold text-center">Networth</li>
                                        </ul>
                                        <app-portfolio-item *ngFor="let p of portfolioList" [portfolio]="p" [delete]="delete">
                                        </app-portfolio-item>
                                        <div *ngIf="delete">
                                                <button class="btn btn-success " type="submit" (click)="deleteDone()" >Done</button>
                                        </div>
                                </div>
                        </div>
                        <button class="btn btn-primary" type="submit" (click)="createPortfolio()">Create new Porfolio</button>
                        <button class="btn btn-danger " type="submit" (click)="deletePortfolio()">Delete Porfolio</button>
                        <br>
                        <br>
                        <div class="cont2" *ngIf="create" >
                                <p>Add Details for New Portfolio</p>
                                <form  #f="ngForm" (ngSubmit)="createP(f)">
                                        <div class="form-group-item">
                                                        <label for="pId">Insert new Portfolio Id : </label>
                                                        <input placeholder="Enter ID here" type="number" id="pId" name="pId" ngModel>
                                                        <button class="btn btn-success" type="submit">Add</button>

                                        </div>
                                </form>
                        </div>
                </div>
                <div class="col-sm-3 alerts">
                        <div class="row" style="background-color:#00007f;color:white;padding-left:10px;height:35px;">
                                <p class="heading">Alerts</p>
                        </div>
                        <p>No Alerts to display yet!</p>
                        
                </div>                
        </div>
        <br>
</div>
<div class="container offsets">
        <p class="headings">Distribution of Networth over Portfolios</p>
        <div >
                <app-piechart></app-piechart>
        </div>    
        

        
        
</div>
