<div class="boxed" >
    <!-- <h2 class="jumbotron">PORTFOLIO MANAGEMENT</h2> -->    
    <!-- <div class="col-md-7"> -->
        <p style="font-size:20px;font-weight:bold;" class="text-center">SIGN UP FOR FREE!</p><br>
    <form #userform ="ngForm" (ngSubmit)="onSubmit(userform)">
    <label for="email">E-mail</label>
    <input placeholder="you@example.com" class="form-control" name="email" id="email"  ngModel ><br>
    <label for="uname">Create Username</label>
    <input placeholder="&#xf2c0;&nbsp;&nbsp;Username" class="form-control" name="uname" id="uname" ngModel ><br>
    <label for="pass">Enter Password</label>
    <input placeholder="&#xf023;&nbsp;&nbsp;Password" class="form-control" type="password" name="pass" id="pass" ngModel ><br>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info">Register</button>
    </div>
    </form>
    </div>
    